*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    max-width: 1440px;
    margin: 0 auto;
}
 /* แท็ปบาแรก */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    margin: 16px 0 16px 24px;
}

.logo p ,.logo strong{
    font-size: 32px;
}
.logo p{
    color: #454545;
    opacity: 0.5;
}
.nav-mobile{
    display: none;
}


.menu{
    margin: 16px 24px 16px 0 ;
    padding: 10px 0;
}
.menu a{
    text-decoration: none;
    color: #454545;
    font-size: 1.2rem;
    padding: 10px 8px;
}

.menu:hover{
    border-radius: 5px;
}

.menu a:hover{
    background-color: #161066;
    color: #fff;
    border-radius: 5px;
    transition: 600ms;

}

 /* section1 */
.sec1 {
    display: flex;
    align-items: center;
    background-color: #d8d8e4;
    padding: 32px 24px;
    
}
.sec1 img{
    width: 100%;
 } 
.sec1-left{
    width: 60%;
}

.img-sec-mobile{
    display: none;
}


.sec1-right{
    max-width: 30%;
    margin-left: 24px;
    justify-content: center;
    align-items: center;
    
}

.sec1 h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: #161066;
}

.sec1 p{
    font-size: 1.5rem;
    color: #161066;
    font-weight: bold;
}

.botton {
    width: 100%;
    padding: 8px 0 8px 0;
    background-color: #161066;
    color: #fff;
    font-size: 1.5rem;
    border: none;
}

.botton:hover{
    background-color: #d8d8e4;
    color: #161066;
    outline: 5px solid #161066;
    transition: 300ms;
}

/* section2 */
.sec2{
    margin: 32px 24px 32px;
    display: flex;
}
.sec2 img{
    width: 100%;
    
}

 .sec2-left{
    width: 60%;
    margin-right: 24px;
 }


.sec2-left h2{
    font-size: 2.7rem;
    padding: 32px 0;
    color: #161066;
    font-weight: 700;
}

.sec2-left p{
    font-size: 1.3rem;
    color: #161066;
    padding: 24px 0;
}
.sec2-left p:last-child{
    color: #161066;
    font-size: 1.6rem;
    padding: 32px 0;
    
}
.sec2-right{
    max-width: 40%;
    border-left: 1px solid #c7c7c7; 
}
.sec2-right img{
    width: 35%;
    margin-right: 32px;
}
.s-2-innner{
    display: flex;
    align-items: center;
    padding: 16px;
    
}

.s-2-innner:hover{
    background-color: #d8d8e4;
    transition: 400ms;

}


.s-2-innner-2{
    width: 100%;
   justify-content: center;
    
}

.s-2-innner-2 h3{
    font-size: 2rem;
    color: #454545;
}

.s-2-innner-2 p{
    font-size: 1.2rem;
    padding: 10px 0;
    color: #454545;
}
.s-2-innner-2 a{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(0, 174, 255);
}

/* section 3 */

header h2{
    text-align: center;
    font-size: 3.8rem;
    color: #161066; 
    padding-bottom: 32px ;
} 

.sec3{
    background-color: #d8d8e4;
    padding: 32px 72px;
}

.sec3-inner{
    display: flex;
    justify-content: space-between;
}
.card{
    background-color: #fff;
    margin-bottom: 32px; 
}

.card h3{
    margin: 16px 0 8px 16px;
    color: #161066;
    font-size: 2.5rem;
}
.card h4{
    padding:8px 0 8px 16px;
}

.card h4{
    font-size: 1.5rem;
    font-weight: 400;
}

.card p{
    padding:8px 0px 24px 16px;
    font-size: 1.2rem;
    font-weight: 400;

    
}

.card img{
    width: 100%;
}

.card:hover{
    background-color: #d8d8e4 ;
    border-radius: 0 0 10px 10px;
    transition: 300ms; 
    color: #161066;
}


.c-1{
    margin: 0 32px;
    margin-bottom: 32px;
}

/* section4  */
.thesis{
    margin-top: 32px;
}

.sec-4{
    display: flex;
    border-bottom: 1px solid #a6a6a6;
}

.s-4{
    max-width: 40%;
}
.s-4 img{
    width: 35%;
    margin-right: 32px;
}

.video-1{
    width: 60%;
    padding: 0 24px;
}
video{
    width: 100%;
}
.video-1 h3{
    color: #161066;
    font-size: 2.5rem;
    margin: 24px 0 8px 0;
}

.video-1 p{
    color: #a6a6a6;
    font-size: 1.2rem;
    margin-bottom: 32px;
}

/* ส่วนท้าย */
footer{
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    align-items: center;
    padding-bottom: 40px;
}
footer p{
    color: #a6a6a6;
 }
footer a{
    text-decoration: none;
    color: #a6a6a6;
 }


 
 @media screen and (max-width:769px){
    .nav{
        font-size: 0.3rem;
    }


    .sec1 h2{
        font-size: 1.5rem;
    }
    
    .sec1 p{
        font-size: 0.8rem;
    }
    
    .botton{
        font-size: 1rem;
    }

    .s-2-innner-2 h3{
        font-size: 1rem;
    }
    
    .s-2-innner-2 p{
        font-size: 0.7rem;
    }
    .s-2-innner-2 a{
        font-size: 0.9rem;
    }

    .sec2-left h2{
        font-size: 1.5rem;
    }
    
    .sec2-left p{
        font-size: 1rem;
    }
    .sec2-left p:last-child{
        font-size: 0.8rem;
        
    }

    header h2{
        font-size: 2rem;
    } 
    .card h3{
        font-size: 1.5rem;
    }
    .card h4{
        font-size: 1rem;
    }
    
    .card p{
        font-size: 0.8rem;
    }

    .video-1 h3{
        font-size: 1.5rem;
    }
    .video-1 p{
        font-size: 1rem;
    }

    footer p,footer a{
        font-size: 0.8rem;
     }
 }

 
/* ส่วน mobile  */
 @media screen and (max-width:426px){
    .nav{
        display: none;
    }
    .nav-mobile{
        display: contents;
    }
    
    .menu-mobile{
        margin: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .menu-mobile div{
        height: 32px;
    }

    .menu-mobile img{
       width: 100%;
       height: 100%;
    }
    /* mobile-sec1 */
    .sec1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        width: 100%;
        
    }
    .sec1 img{
        width: 100%;
    
     } 
    .sec1-left{
        width: 100%;
    }
      
    .sec1-right{
        max-width: 100%;
        margin: 0 16px 32px;
        justify-content: center;
        align-items: center;
        
    }
    
    .sec1 h2{
        font-size: 2rem;
        font-weight: bold;
    }
    
    .sec1 p{
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    .botton{
        width: 100%;
        padding: 8px;
        color: #fff;
        font-size: 1.5rem;
        margin: 0px;
    }
    /* mobile-sec2 */
    .sec2{
        margin: 0;
        display: flex;
        
    }
    .sec2-left{
        display: none;
    }

    .sec2-right{
        max-width: 100%;
        border: none;
        padding: 16px 16px 32px 16px;
    }
    .sec2-right img{
        width: 100%;
        margin: 0;
    }
    .img-sec-mobile{
        display:flex ;
    }
    .desk{
        display: none;
    }
    .s-2-innner{
        flex-direction: column;
        padding: 0 0 64px 0;
    }
    .s-2-innner-2{
        width: 100%;
        justify-content: center;
        padding-left: 16px;
    }
    
    .s-2-innner-2 h3{
        font-size: 2rem;
        color: #473662;
        margin-top: 16px;
    }
    
    .s-2-innner-2 p{
        font-size: 1.2rem;
        padding: 10px 0;
    }
    .s-2-innner-2 a{
        font-size: 1.2rem;
    }
    /* moblie-sec3 */
    article{
        flex-direction: column;
    }
    
    .sec3{
        background-color: #fff;
        padding: 0px 16px;
    }
    .sec3-inner{
        flex-direction: column;
        width: 100%;
    }

    .card{
        background-color: #fff;
        margin-bottom: 0px; 
        height: auto;
    }
    .c-1{
        margin: 0;
    }
    .card img,
    .card h4,
    .card p{
        display: none;
    }
    .card h3{
        
        margin: 0 0 8px 0;
        padding: 16px 16px 24px 16px;
        background-color: #e3deec;
        font-weight: 700;
        font-size: 1.4rem;

    }

    /* ส่วน thesis mobile */
    .s-4,
    .sec-4 h3,
    .sec-4 p,
    footer a{
        display: none;
    }
    .sec-4{
        border: none;
    }
    .video-1{
        width: 100%;
        padding: 0px;
        margin-bottom: 24px;
    }
    footer{
        padding: 16px;
    }
    footer p{
        font-size: 1rem;
        text-align: center;
        margin: 0 auto;
    }
 }
